*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 40px auto;
    width: 60vw; 
    background-color:#21252B ;
    font-family:Tahoma, sans-serif; 
    color: yellow;  
 
    
}

@media screen and (max-width:412px) {

    body{
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        width: fit-content;
        height: fit-content;
    }


}
.h{
    justify-content: center;
    text-align: center;
    color: tomato;
    margin-bottom: 8px;
}


.status{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid rgb(199, 19, 160);
}

@media screen and (max-width:412px){
    .status{
        padding: 10px;
        font-size: 16px;
        justify-content: space-around;
        cursor: pointer;
        border: 2px solid #c713a0;
        width: auto;
        margin-left: 50px;
        gap: 44px;
    }
}


.status span:hover{
    color: limegreen;
}

.todo-page{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    /* justify-content: space-around; */
    /* align-items: center; */
}


.todo-div{
    border: 1px solid  #C713A0;
    padding: 5px;
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
}

.tex{
    border: none;
    justify-content: center;
    text-align: center;
color: yellow;
margin-top: 16px;
}

#in{
    width:290px;
    height: 40px;
    border: 1px solid rgb(144, 233, 11);
    background-color: transparent;
    color: tomato;
}

@media screen and (max-width:412px){
    .in{
width: auto;
height: 30px;
margin-left: 60px;
    }
}


button{
    padding: 12px;
    background-color: transparent;
    border: 1px solid rgb(144, 233, 11);
    color: yellow;
    gap: 12px;
}

@media screen and (max-width:412px){
    button{
        padding: 6px;
    }
}


button:hover {
    color:rgb(199, 19, 160);
}